*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: #5454c5;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}



.container li, a{
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    display: flex;
    font-size: 40px;
    color: #342056;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 30px;
    padding-bottom: 3px;
}

.container ul{
    display: flex;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 84px)
}

.introduction{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 35px;
    color: #220e24;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}

body{
    background-color: #639cd9;
    font-family: 'Averia Serif Libre', cursive;
}


.tooltip:hover{
    opacity: 0.7;
}

.tooltip{
    position: relative;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(175%) scale(var(--scale));
    transition: 50ms transform;
    transform-origin: top center;
}

.tooltip::before{
    content: attr(information);
    background-color: #342056;
    color: #639cd9;
    font-size: 15px;
    padding: 5px;
    width:max-content;
    text-align: center;
    border-radius: 5px;
}

.tooltip:hover::before{
    --scale: 1;
}

.introduction a:hover{
    color: black;
}

#social_logos a{
    transition: color 0.2s;
    margin-top: 30px;
}

#social_logos{
    display: flex;
    justify-content: space-around;
}


/* About Me Page Style */

.about_headers{
    font-family: 'Averia Serif Libre', cursive;
    padding: 15px;
    color: #220e24; 
}


.about_headers p, form{
    padding-left: 10px;
    font-size: 20px;
}

#coursebox{
    display: flex;
    padding: 5px;
    text-decoration: underline;
    justify-content: space-around;
}

.courses{
    list-style: circle;
    display: flex;
    font-size: 15px;
    padding: 5px;
    justify-content: space-around;
    padding-right: 10px;
}

hr{
    height: 3px;
    background-color: #5454c5;
    border:none;
}

#listed_passions{
    padding: 7px;
    padding-left: 40px;
    font-size: 25px;
}

form{
    padding: 10px;
}

.favorites{
    font-family: 'Averia Serif Libre', cursive;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 15px;
    color:#220e24;
    background-color: #75aae3;
    border: 1px solid #5454c5;
}

#box{
    width: 1075px;
    height: 605px;
    border: 5px solid #5454c5; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


button:hover{
    opacity: 0.7;
    background-color:#639cd9;
}


#song,
#movie,
#game,
#food {
    display: none;
}


/* Responsiveness */

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .container li,
    a {
        font-size: 24px;
        padding: 10px 5px;
    }


    h2{
        font-size: 20px;
        padding: 5px;
    }

    .courses{
        font-size: 10px;
        margin: 2px;
        justify-content: space-around;
        gap: 30px;
    }

    .introduction {
        font-size: 28px;
        padding: 30px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }


    hr {
        margin: 20px 0;
    }

    #listed_passions {
        padding: 7px;
        padding-left: 35px;
        font-size: 20px;
    }
    .favorites {
        font-size: 14px;
    }
    
    #box {
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    #box iframe, 
    #box img{
        width: 320px;
        height: 568px;
    }

    .fact {
        font-size: 18px;
    }
    
    #funfact {
        font-size: 18px;
    }
    
    button.favorites {
        padding: 5px 10px;
        font-size: 14px;
    }
}